<% if logged_in?(:site_admin) %>

  <nav class="breadcrumb">
    <%= link_to fa_icon('file'), toggle_status_blog_path(blog), class: "breadcrumb-item active", style: blog_status(blog) %>
    <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog), class: "breadcrumb-item"%>
    <%= link_to fa_icon('trash'), blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }, class: "breadcrumb-item" %>
  </nav>

<% end %>