<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <%= link_to 'Create New Blog', new_blog_path, class: 'btn btn-outline-success my-2 my-sm-0' if logged_in?(:site_admin) %>
  </nav>
</div>
