<h2>Would you like to work with me?</h2>
<div class="row">
  <div class="col-md-6">
    <p>
      <h4>Office Address</h4>
      <address>Chennai, India</address>
    </p>
    <p>
      <h4>Phone</h4>
      <%= number_to_phone "5555555555" %>
    </p>
  </div>
  <div class="col-md-6">
  </div>
</div>


