<h2>Would you like to work with me?</h2>
<div class="row">
  <div class="col-md-6">
    <p>
      <h4>Office Address</h4>
      <address>Chennai, India</address>
    </p>
    <p>
      <h4>Phone</h4>
      <%= number_to_phone "5555555555" %>
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248755.7802152387!2d80.06892575164947!3d13.047822269504126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1634229012962!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</div>


