@import "bootstrap";
@import "jquery-ui";
@import "gritter";

.portfolio-form-layout {
  padding: 2rem;
}

.portfolio-container {
  padding-top: 30px;
}

.portfolio-img-btn {
  padding: 10px;
}

.custom_gritter {
  background-color: green;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}